<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Áreas</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        h1 {
            color: #333;
        }

        p {
            color: #333;
            font-size: 1.5em;
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <h1>Áreas de Figuras Geométricas:</h1>
    <p>Área del círculo: {{ area_circulo }}</p>
    <p>Área del cuadrado: {{ area_cuadrado }}</p>
    <p>Área del triángulo: {{ area_triangulo }}</p>
</body>
</html>

