<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 1</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        h1 {
            color: #333;
        }

        p {
            color: #333;
            font-size: 1.5em;
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <h1>Ejercicio 1:</h1>
    <form action="/ejercicio1" method="post">
        <label for="x">Ingrese el valor de X:</label>
        <input type="number" name="x" required>
        <br>
        <label for="z">Ingrese el valor de Z:</label>
        <input type="number" name="z" required>
        <br>
        <button type="submit">Calcular</button>
    </form>
</body>
</html>
